<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZRBl8DbQHLoMzkLVJmSsrfIrO98cHu6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>414535387061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.picturoApp</string>
	<key>PROJECT_ID</key>
	<string>picturoenglish-1012d</string>
	<key>STORAGE_BUCKET</key>
	<string>picturoenglish-1012d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414535387061:ios:d6583d66f993bef00b3bfc</string>
</dict>
</plist>